body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(41, 203, 212);
  font-family: 'Signika Negative', sans-serif;
}

div{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
h1{
  padding: 30px 40px;
  color: rgb(66, 234, 178);
  background: rgb(255, 255, 255);
  border-radius: 20px;
}